[submodule "router-module"]
	path = router-module
	url = https://github.com/tsmean/router.git
	branch = master
[submodule "auth-module"]
	path = auth-module
	url = https://github.com/tsmean/auth.git
	branch = master
[submodule "mongo-module"]
	path = mongo-module
	url = https://github.com/tsmean/mongo.git
[submodule "mysql-module"]
	path = mysql-module
	url = https://github.com/tsmean/mysql
[submodule "dbadapter-module"]
	path = dbadapter-module
	url = https://github.com/tsmean/dbadapter
[submodule "main-module"]
	path = main-module
	url = https://github.com/tsmean/server
